.qr-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/team/kmixcvisuals-5.jpg");
    background-size: cover;
    background-position: center;
}

.qr-card {
    max-width: 480px;
    width: 95%;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 12px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.profile-pic {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.text h2 {
    margin: 0;
    font-size: 1.5rem;
}

.title {
    color: #7a7a7a;
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.action-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.action-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #000;
    padding: 0.75rem 1rem;
    background: #f5f5f5;
    transition: background 0.2s ease;
    height: 70px;
}

.action-item strong {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.3rem;
    /* Makes it easier to manage spacing */
}

.action-item .subtext {
    margin-top: 2px;
    font-size: 1rem;
    color: #555;
}

.action-item:hover {
    background-color: #ff7000;
}

.icon {
    font-size: 1.5rem;
    color: #333;
}