.our-work-page {}

.our-work-page .overlay-transparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 1;
    z-index: 4;
}

.our-work-page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4000px;
    background-color: rgb(56, 56, 56);
    opacity: 1;
    z-index: 3;
}

.our-work-page .overlay-transparent .countup-overlay {
    font-size: 15em;
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: #fff;
    transform: translateX(50px);
}

.our-work-page .top {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.our-work-title {
    padding: 20px;
    line-height: 30px;
}

.our-work-title .date {
    font-size: 3em;
    color: #FF7300;
}

.our-work-title .title {
    font-size: 1.35em;
}

.video-background {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}

#myVideo {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000%;
}

@media (min-aspect-ratio: 16/9) {
    .video-background video {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-background video {
        /* width = 100 / (9 / 16) = 177.777777 */
        width: 177.78vh;
    }
}


.youtube-content .section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

.youtube-content .section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.youtube-content .section .text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.youtube-content .section-rev {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 20px;
}


.youtube-content .section-rev .text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.youtube-content .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.youtube-content .gallery iframe {
    height: 350px;
    width: 33%;
    padding: 5px;
}

.instagram-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 20px;
}

.instagram-content .section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-content .section h1 {
    width: 20%;
}

.instagram-content .video {
    margin: 10px;
}