@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  color: white;
  overflow: hidden;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 50px;
  padding-top: 120px;
}

.hero-section .banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity (0 = transparent, 1 = fully black) */
  z-index: -1;
}

.hero-logo {
  position: absolute;
  top: 30px;
  left: 40px;
}

.hero-logo img {
  height: 65px;
  /* Adjust size */
  width: auto;
}

/* Background Video */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* Ensures full width */
  height: 100vh;
  /* Ensures full height */
  object-fit: cover;
  /* Prevents white gaps */
  z-index: -2;
}

/* Text Content */

.hero-text span {
  position: relative;
  font-size: 7.7rem;
  /* Large text */
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  line-height: 0.85;
  display: flex;
  flex-direction: column;
  /* Stacks spans on top of each other */
}

/* Subtext */
.hero-subtext {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 360px;
  text-align: justify;
  line-height: 1;
  padding: 20px 0;
}

/* Contact Button */
.hero-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #FF7300;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.hero-button:hover {
  background-color: #1d1d1d;
}

/* SERVICE SECTION */
.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
  background-color: white;
}

/* Large Title */
.services-section-title {
  font-size: 8.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 1;
}

/* Highlight the word "production" */
.highlight {
  color: #FF7300;
  font-weight: bolder;
  text-decoration: underline;
}

/* Links Container */
.services-section-links {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  text-decoration: underline;
}

/* Individual Links */
.services-section-links a {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.services-section-links a:hover {
  color: #FF7300;
}


.home .overlay-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 1;
  z-index: 4;
}

.home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4000px;
  background-color: rgb(56, 56, 56);
  opacity: 1;
  z-index: 3;
}

.home .overlay-transparent .countup-overlay {
  font-size: 15em;
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: #fff;
  transform: translateX(50px);
}

.marquee-overlay {
  font-size: 4em;
  padding-left: 50px;
  color: #fff;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.projects-recap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-recap .video {
  background-color: #000000;
  height: 600px;
  width: 90%;
  margin-bottom: 50px;
}

.projects-recap .video .video-overlay {
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  height: 600px;
  width: 90%;
  opacity: 1;
  transition: 1s;
}

.projects-recap .video .video-overlay div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.projects-recap .video .video-overlay div p {
  padding: 10px;
}

.projects-recap .video .video-overlay div svg {
  font-size: 2em;
  padding: 2px;
}

.projects-section-title {
  text-align: center;
  font-size: 8em;
  line-height: 1;
  font-weight: bold;
}

.projects {
  padding: 50px 10px;
}

.projects-grid {
  display: grid;
  /* Two equal columns */
  grid-gap: 10px;
}

.project-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;

}

.project-item img {
  width: 100%;
  height: auto;
  display: block;
}

.project-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 10px;
  line-height: 1;
}

.project-info h3 {
  font-size: 2.5em;
  font-weight: bold;
}

.project-info p {
  font-size: 1.3em;
  font-weight: 100;
}

.project-wide {
  grid-column: span 2;
  height: 500px;
}

.project-wide img {
  transform: translateY(-35%) scale(1.2);
}


.project-image,
.project-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

/* Hide the video by default */
.project-video {
  opacity: 0;
  pointer-events: none;
}

/* Show the video smoothly when hovered */
.project-video.visible {
  opacity: 1;
}

/* Reduce opacity of image when hovered */
.project-item:hover .project-image {
  opacity: 0;
}

.worked-with-section .clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px;
}

.worked-with-section .clients .worked-with {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.worked-with-section .clients .worked-with .top {
  font-size: 6em;
}

.worked-with-section .clients .worked-with .bottom {
  font-size: 4em;
  font-family: 'Courgette', cursive;
  font-weight: 100;
}

.worked-with-section .clients .worked-with .bottom span {
  font-family: 'Courgette', cursive;
  font-weight: 100;
}

.worked-with-section .clients .worked-with .bottom .underline {
  text-decoration: line-through;
}

.worked-with-section .clients .worked-with .bottom .color {
  color: #FF7300;
}

.worked-with-section .marquee-clients {
  padding: 50px;
}

.worked-with-section .marquee-clients img {
  height: 175px;
  padding: 20px;
  filter: grayscale(1);
  transition: 0.4s;
}

.worked-with-section .marquee-clients img:hover {
  filter: grayscale(0);
}

/* ContactSection.css */

.contact-section {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

/* Background Image */
.contact-image {
  position: absolute;
  top: 50%;
  /* Move the image up by 50% of its container */
  left: 50%;
  width: 100%;
  height: 100%;
  background: url('./img/team/kmixcvisuals-1.jpg') no-repeat center center/cover;
  filter: grayscale(100%);
  transform: translate(-50%, -50%);
  /* Centers the image */
  z-index: -2;
}

/* Dark Overlay */
.contact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* Adjust opacity to control darkness */
  z-index: -1;
}

/* Content Styling */
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h2 {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 0.85;
}

.content-text {
  display: flex;
  margin-top: -20px;
}

.content-text p {
  max-width: 500px;
  text-align: justify;
  font-size: 0.8rem;
  line-height: 1.1;
  margin-bottom: 30px;
  font-weight: 100;
}

/* Circular Button */
.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  color: white;
  background-color: #ff6600;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
  margin: 20px 40px;
}

.contact-button a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1;

  color: #e2eaf3;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  font-weight: 200;
}

.contact-button:hover {
  background-color: #e05500;
}


.icon img {
  height: 125px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}

#follow {
  position: absolute;
  text-align: center;
  z-index: -5;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .hero-section {
    padding: 20px;
    padding-top: 80px;
  }

  .hero-text span {
    font-size: 3.5rem;
  }

  .hero-subtext {
    font-size: 1rem;
    max-width: 300px;
  }

  .hero-button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .services-section {
    padding: 50px 20px;
  }

  .services-section-title {
    font-size: 3.5rem;
  }

  .services-section-links {
    gap: 10px;
    flex-wrap: wrap;
  }

  .projects-section-title {
    font-size: 4rem;
    line-height: 0.5;
  }

  .projects-recap .video {
    height: 400px;
    width: 90%;
  }

  .projects-recap .video .video-overlay {
    height: 400px;
    width: 90%;
    display: none;
  }

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .project-wide {
    height: 100%;
  }

  .project-wide img {
    transform: translateY(-0%) scale(1);
  }

  .worked-with-section .clients {
    padding: 10px;
  }

  .worked-with-section .clients .worked-with .top {
    font-size: 3.5rem;
  }

  .worked-with-section .clients .worked-with .bottom {
    font-size: 2rem;
    line-height: 0.3;
  }

  .contact-section {
    height: 400px;
  }

  .contact-section .content {
    padding: 0 20px;
  }

  .contact-section .content h2 {
    font-size: 2rem;
  }

  .contact-section .content p {
    font-size: 0.6rem;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-text p {
    margin-bottom: 0;
    padding: 10px;
  }

  .contact-button {
    font-size: 0.7em;
    margin: 0;
  }

  .worked-with-section .marquee-clients img {
    height: 125px;
    padding: 5px;
    filter: grayscale(1);
    transition: 0.4s;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 20px;
    padding-top: 80px;
  }

  .hero-text span {
    font-size: 3.5rem;
  }

  .hero-subtext {
    font-size: 1rem;
    max-width: 300px;
  }

  .hero-button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .services-section {
    padding: 50px 20px;
  }

  .services-section-title {
    font-size: 3.5rem;
  }

  .services-section-links {
    gap: 10px;
    flex-wrap: wrap;
  }

  .projects-section-title {
    font-size: 4rem;
    line-height: 0.5;
  }

  .projects-recap .video {
    height: 400px;
    width: 90%;
  }

  .projects-recap .video .video-overlay {
    height: 400px;
    width: 90%;
    display: none;
  }

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .project-wide {
    height: 100%;
  }

  .project-wide img {
    transform: translateY(-0%) scale(1);
  }

  .worked-with-section .clients {
    padding: 10px;
  }

  .worked-with-section .clients .worked-with .top {
    font-size: 3.5rem;
  }

  .worked-with-section .clients .worked-with .bottom {
    font-size: 2rem;
    line-height: 0.3;
  }

  .contact-section {
    height: 400px;
  }

  .contact-section .content {
    padding: 0 20px;
  }

  .contact-section .content h2 {
    font-size: 2rem;
  }

  .contact-section .content p {
    font-size: 0.6rem;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-text p {
    margin-bottom: 0;
    padding: 10px;
  }

  .contact-button {
    font-size: 0.7em;
    margin: 0;
  }

  .worked-with-section .marquee-clients img {
    height: 125px;
    padding: 5px;
    filter: grayscale(1);
    transition: 0.4s;
  }
}



@media (max-width: 480px) {
  .hero-text span {
    font-size: 3rem;
  }

  .hero-subtext {
    font-size: 0.9rem;
  }

  .services-section-title {
    font-size: 3rem;
  }

  .projects-section-title {
    font-size: 3.5rem;
  }

  .services-section-links {
    gap: 30px;
  }
}


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 400px) {
  .countup-overlay {
    font-size: 4em;
  }

  .content-two {
    height: 100%;
    display: block;
    padding: 10px 20px;
  }

  .content-two .boxes {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .content-two .boxes .box {
    flex-direction: column;
    width: 100%;
    height: 100px;
  }

  .content-two .boxes .box .title {
    font-size: 1.5em;
  }

  .content-three .video .video-overlay {
    height: 300px;
  }

  .content-three .video {
    height: 300px;
  }

  .content-three .clients {
    padding: 10px;
  }

  .content-three .clients .worked-with .top {
    font-size: 1.8em;
    text-align: center;
  }

  .content-three .clients .worked-with .bottom {
    font-size: 1.6em;
    text-align: center;
  }

  .content-three .marquee-clients {
    padding: 10px;
  }

  .content-three .marquee-clients img {
    height: 125px;
  }

  .icon img {
    display: none;
  }

  #follow {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .countup-overlay {
    font-size: 6em;
  }

  .content-two {
    height: 100%;
    display: block;
    padding: 10px 20px;
  }

  .content-two .boxes {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .content-two .boxes .box {
    flex-direction: column;
    width: 100%;
    height: 150px;
  }

  .content-two .boxes .box .title {
    font-size: 2em;
  }

  .content-three .video .video-overlay {
    height: 400px;
  }

  .content-three .video {
    height: 400px;
  }

  .content-three .clients {
    padding: 10px;
  }

  .content-three .clients .worked-with .top {
    font-size: 1.9em;
    text-align: center;
  }

  .content-three .clients .worked-with .bottom {
    font-size: 1.6em;
    text-align: center;
  }

  .content-three .marquee-clients {
    padding: 10px;
  }

  .content-three .marquee-clients img {
    height: 125px;
  }

  .icon img {
    display: none;
  }

  #follow {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .countup-overlay {
    font-size: 6em;
  }

  .content-two {
    height: 100%;
    display: block;
    padding: 10px 20px;
  }

  .content-two .boxes {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .content-two .boxes .box {
    flex-direction: column;
    width: 100%;
    height: 300px;
  }

  .content-three .clients {
    padding: 20px;
  }

  .content-three .clients .worked-with .top {
    font-size: 3.5em;
    text-align: center;
  }

  .content-three .clients .worked-with .bottom {
    font-size: 3em;
    text-align: center;
  }

  .content-three .marquee-clients {
    padding: 10px;
  }

  .content-three .marquee-clients img {
    height: 150px;
  }

  .icon img {
    display: none;
  }

  #follow {
    display: none;
  }
}