@import url(https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended+Bold);
@import url(https://db.onlinewebfonts.com/c/440b48c0e71d1803a24ba06df2ae32bf?family=Monument+Extended);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Monument Extended";
}

body {
  overflow-x: hidden;
}

/* HOME */

.home .overlay-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 1;
  z-index: 4;
}

.home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4000px;
  background-color: rgb(56, 56, 56);
  opacity: 1;
  z-index: 3;
}

.countup-overlay {
  font-size: 15em;
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: #fff;
  transform: translateX(50px);
}

.marquee-overlay {
  font-size: 4em;
  padding-left: 50px;
  color: #fff;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.content {
  position: relative;
  z-index: 0;
  /* Place the content above the overlay */
  text-align: center;
}

.content .logo {
  width: 100%;
}

.cycle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
  font-size: 1.3em;
  color: rgb(0, 0, 0);
}

.content-two {
  height: 100vh;
  background-color: #2b2b2bf5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-two .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-two .boxes .box {
  color: #fff;
  margin: 10px;
  height: 400px;
  width: 45%;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.074);
  border-radius: 0.7rem;
  transition: all ease 0.5s;
}

.content-two .boxes .box:hover {
  box-shadow: 0px 0px 20px 1px #FF7300;
  color: #FF7300;
}

.content-two .boxes .box .num {
  position: absolute;
  padding: 20px;
  z-index: 2;
}

.content-two .boxes .box .title {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hover-underline-animation div p {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.hover-underline-animation div p::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bdbdbd;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover div p::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation div svg {
  display: inline-block;
  position: absolute;
  opacity: 0;
  transition: ease 0.7s;
  transform: scale(1);
  filter: blur(20px);
  z-index: 0;
}

.hover-underline-animation div:hover svg {
  filter: blur(0px);
  opacity: 1;
  transform: scale(4);
  color: #ffffff31;
}

.content-three {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}

.content-three .video {
  background-color: #000000;
  height: 600px;
  width: 90%;
  margin-bottom: 50px;
}

.content-three .video .video-overlay {
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  height: 600px;
  width: 90%;
  opacity: 1;
  transition: 1s;
}

.content-three .video .video-overlay div {
  display: flex;
  justify-content: center;
  align-items: start;
}

.content-three .video .video-overlay div p {
  padding: 10px;
}

.content-three .video .video-overlay div svg {
  font-size: 2em;
  padding: 2px;
}

.content-three .clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-three .clients .worked-with {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-three .clients .worked-with .top {
  font-size: 5em;
}

.content-three .clients .worked-with .bottom {
  font-size: 3em;
  font-family: 'Courgette', cursive;
  font-weight: 100;
}

.content-three .marquee-clients img {
  height: 200px;
  padding: 20px;
  filter: grayscale(1);
  transition: 0.4s;
}

.content-three .marquee-clients img:hover {
  filter: grayscale(0);
}

.icon img {
  height: 125px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}

#follow {
  position: absolute;
  text-align: center;
  z-index: -5;
  overflow: hidden;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.overlay-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  z-index: 2;
}

/* ABOUT */

/* CONTACT */

/* WEBSITE DEVELOPMENT */

/* SOCIAL MEDIA MANAGEMENT */